@model IEnumerable<ChiquinhoTec.GerenciadorContratacao.Domain.Entities.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div asp-validation-summary="ModelOnly"></div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data de nascimento
            </th>
            <th>
                Telefone
            </th>
            <th>
                Perfil
            </th>
            <th>
                Descrição
            </th>
            <th>
                Ativo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfessionalDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
